<!DOCTYPE html>
<html lang="en">
<head>
  <base href="">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="flask_web">
  <meta name="author" content="Solly">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

  <title>Flask Web {% block title %}{% endblock %}</title>
</head>

<body>
  {% include 'header.html' %}

  <div class="container" style="min-height: 100%">
    {% include 'flash_message.html' %}
    
    {% block body %}
    {% endblock %}
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
